/* General css */
body {
    font-family: Arial, sans-serif;
    /*max-width: 800px;*/
    margin: 0 auto;
    /*width: 100vw;*/
    /*height: 100vh;*/
    position: absolute;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    /*background-color: #f8f9fa;*/
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

nav a:hover {
    color: #007bff;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

/* Home page css */
.formula {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.industry-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.arrow {
    padding-bottom: 10vh;
    font-size: 6vw;
    cursor: pointer;
}

.arrow:hover {
    color: #007bff;
}

.industry {
    font-size: 24px;
    cursor: pointer;
    margin: 0 20px;
}

.industry:hover {
    color: #007bff;
}

/* Industry pages css */
.data-challenge-item {
    margin-bottom: 10px;
}

.data-challenge-link {
    text-decoration: none;
    color: #1a0dab;
    font-size: 18px;
}
